.App {
}
body {
    width: 100%;
    margin: 0 0;
    font-family: 'Roboto',Arial,sans-serif;
    
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}
input {
    padding: 0 0;
}
.wrapper {
    width: 95%;
    margin: 0 auto;
}
.header {
    width: min(80%, 580px);
    margin: 0 auto;
    padding: min(30px, 10%) min(30px, 5%);
    height: 90px;
    background-color: white;
    z-index: 1;
}
.header__logo {
    width: 100%;
    z-index: 2;
}
.header__title {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 90px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.card {
    width: min(910px, 90%);
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    row-gap: 10px;
}
.music-card {
    max-width: 480px;
}
.music-card__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}
.music-card__title {
    max-width: 320px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}
.music-card__about {
    max-width: 320px;
    font-size: 12px;
    line-height: 1.55;
    font-weight: 300;
}
.music-card__track-list {
}
.music-card__track-list ul{
    padding: 0;
}
.music-card__track-list li{
    list-style-type: none;
    width: 100%;
    margin-bottom: 10px;
}
.audio {
    display: block;
    width: 100%;
    /* background-color: rgba(218, 32, 50, 0.315); */
}
.audio::-webkit-media-controls-enclosure {
    height: 50px;
    background-color: rgba(218, 32, 50, 0.315);
}
/* .audio::-webkit-slider-thumb:hover {
  background-color: rgba(218, 32, 50, 0.315);
}
.audio::-moz-range-track{
    background-color: rgba(218, 32, 50, 0.315);
}
.audio::-ms-track{
    background-color: rgba(218, 32, 50, 0.315);
} */
/* :host(audio) {
    height: 50px!important;
      background-color: rgba(218, 32, 50, 0.315)!important;
} */
.reg-component {
    margin: 0 auto;
}
.reg-component__input {
    color: #000000;
    border: 1px solid #000000;
    height: 60px;
    width: calc(100% - 20px);
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.33;
    margin-bottom: 10px;
}
.reg-component__submit-button {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;
    text-align: center;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    border: 0 none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.redirect{
    margin-top: 70px;
}
.container{
    position: relative;

}
.bg-img{
    filter: grayscale(1) brightness(0.2);
    width: 110%;
    margin-left: -7.5%;
    height: 250px;
    object-fit:cover;
    object-position: 0 35%;
}
.img-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto,Helvetica,Arial;
    color: white;
    text-align: center;
    width: 100%;
}
.img-content__title{
    width: 100%;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
}
.img-content__sub-title{
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 0.4em auto 0.8em;
    font-weight: 400;
    margin-bottom: 20px;
}
.img-content__redirect-btn{
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    color: white;
    background-color: rgb(232, 38, 38);
    padding: 0.65em 1em;
    font-size: 0.9rem;
    border-radius: 1px;
    border-color: transparent;  
    align-items: center;
    width: 100%;
    height: 38px;
}

.img-content__redirect-btn:hover{
    background-color: rgb(155, 21, 21);
}
.about-us {
    padding: 50px 0px;
    text-align: center;
}
.about-us__header {
    margin-bottom: 45px;
}
.about-us__header__title {
    font-size: 30px;
    line-height: 1.23;
    font-weight: 600;
    margin-bottom: 20px;
}
.about-us__header__sub-title {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
}
.list {
    padding: 0 0;
    text-align: left;
    max-width: 310px;
    margin: 0 auto; 
}
.list__item {
    list-style-type: none;
    display: flex;
    margin-bottom: 50px;
}
.list__img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 20px;
}
.list__body {
    text-align: center;
}
.list__title {
    line-height: 40px;
    font-weight: 600;
}
.list__about {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.45;
}


/* styles for tablet's screen */
@media screen and (min-width: 480px) {
    .music-card {
        max-width: 360px;
    }
    .card {
        width: min(640px, 95%);
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-content:auto;
        row-gap: 10px;
        column-gap: 20px;
    }
}
@media screen and (min-width: 640px) {
    .reg-component {
    display: flex;
    gap: 20px;
    max-width: 620px;
    }
    .reg-component__input {
        width: 260px;
    }
    .reg-component__submit-button {
        width: 300px;
    }
    .bg-img{
        height: 250px;
    }
    .img-content__title{
        font-size: 2.35rem;
    }
    .img-content__sub-title{
        font-size: 1.1rem;
        width: max(16%, 300px);
    }
    .img-content__redirect-btn{
        width: 220px;
    }
}
@media screen and (min-width: 960px) {

}
@media screen and (min-width: 1200px) {
        .card {
        display: flex;
        gap: 20px;
        width: min(1080px, 95%);
    }
    .music-card {
        width: 360px;
    }
    .music-card__img {
        width: 360px;
        height: 360px;
    }
    .reg-component {
    max-width: 760px;
    }
    .reg-component__input {
    width: 400px;
    }
}